{% extends "base.html.twig" %}

{% block container %}

    <h1>Créer un article | <a href="{{ path('app_article') }}" class="btn btn-sm btn-success">Retour aux articles</a></h1>
    
    <div class="row">

        {{ form_start(form) }}
        <div class="col-md-6 mb-3">
            <div class="form-group">
                {{ form_widget(form.title) }}
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-group">
                {{ form_widget(form.content) }}
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Valider l'article</button>

        {{ form_end(form) }}

    </div>
    
{% endblock %}